@import url("https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap");
* {
  font-family: "Signika", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;

  margin: 0;
  min-block-size: 100vh;
  padding: 5vmin;
}
/* navbar */
.header {
  background-color: #eeeeee;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.header .contanier {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
}
.header .logo img {
  width: 150px;
  text-decoration: none;
}
.header .contanier .nav-links {
  display: flex;
  align-items: center;
}
.header .contanier .nav-links a {
  color: #252525;
  font-size: 11pt;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
  text-transform: uppercase;
  transition: 0.3s;
}
.header .contanier .nav-links a:hover,
.header .contanier .nav-links a.active {
  background-color: #ff9800;
  padding: 5px;
}

#btn-menu {
  display: none;
}
/* banner slider */
.slider {
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 500px;
  margin-top: 70px;
  margin-bottom: 20px;
  overflow: hidden;
}

.slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}

.slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
}

.slider .slide #blur-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(8px);
  -webkit-filter: blur (8px);
}

.slider .slide .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  max-width: 50%;
}
.column img {
  margin-left: 50px;
}

.slider .slide .info h2 {
  background-color: #ff9800;
  color: black;
  font-size: 3em;
  font-weight: 800;
}

.slider .slide .info p {
  background-color: #444;
  color: white;
  font-size: 1.5em;
  font-weight: 400;
}

.slider .slide .info button {
  font-size: 20px;
  background: black;
  color: white;
  border: none;
  padding: 12px;
  margin-top: 10px;
  box-shadow: 0px 5px 0px #ff9800;
}

.navigation {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider:hover .navigation {
  opacity: 1;
}

.prev-btn,
.next-btn {
  z-index: 999;
  font-size: 2em;
  color: white;
  background: black;
  padding: 10px;
  cursor: pointer;
}

.prev-btn {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.next-btn {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.navigation-visibility {
  z-index: 999;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -40px;
}

.navigation-visibility .slide-icon {
  z-index: 999;
  background: black;
  width: 20px;
  height: 20px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 2px;
  border: solid;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active {
  background: #ff9800;
}
.service-12 h1,
.service-12 h2,
.service-12 h3,
.service-12 h4,
.service-12 h5,
.service-12 h6 {
  color: #3e4555;
}

.service-12 h6 {
  line-height: 22px;
  font-size: 18px;
}

.service-12 .font-weight-medium {
  font-weight: 500;
}

.service-12 .badge {
  line-height: 14px;
}

.service-12 .badge-info {
  background: #ff9800;
}

.service-12 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.service-12 .card.card-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.service-12 .img-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.3);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.3);
}

.service-12 .wrap-service12 .img-hover {
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.service-12 .wrap-service12 .img-hover:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.service-12 .wrap-service12 .uneven-box {
  margin-top: 100px;
}

.service-12 .btn-info-gradiant {
  background: #ff9800;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #ff9800 0%,
    #ff9800 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff9800),
    to(#ff9800)
  );
  background: -webkit-linear-gradient(left, #ff9800 0%, #ff9800 100%);
  background: -o-linear-gradient(left, #ff9800 0%, #ff9800 100%);
  background: linear-gradient(to right, #ff9800 0%, #ff9800 100%);
}

.service-12 .btn-info-gradiant:hover {
  background: #ff9800;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #ff9800 0%,
    #ff9800 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff9800),
    to(#ff9800)
  );
  background: -webkit-linear-gradient(left, #ff9800 0%, #ff9800 100%);
  background: -o-linear-gradient(left, #ff9800 0%, #ff9800 100%);
  background: linear-gradient(to right, #ff9800 0%, #ff9800 100%);
}

.service-12 .btn-md {
  padding: 15px 45px;
  font-size: 16px;
}

/* gellery / our work */
.box {
  display: flex;
  width: 100%;
  height: 8px;
  margin: 20px 0px 35px 0px;
}

.box-sm {
  height: 8px;
  margin: 0;
  flex-grow: 1;
  transition: all 0.8s ease-in-out;
  cursor: pointer;
}

.box-sm:hover {
  flex-grow: 12;
}

.red {
  background-color: #ff5852;
}

.orange {
  background-color: #ff9000;
}

.yellow {
  background-color: #ffd300;
}

.green {
  background-color: #3dcd49;
}

.blue {
  background-color: #0089d7;
}

.purple {
  background-color: #9e44c4;
}
img {
  block-size: auto;
  max-inline-size: 100%;
  vertical-align: middle;
}

/* Embed */

.embed {
  overflow: hidden;
  padding-block-start: 100%;
  position: relative;
}

.embed--1-2 {
  padding-top: calc(100% / (1 / 2));
}

.embed--2-1 {
  padding-top: calc(100% / (2 / 1));
}

.embed--2-3 {
  padding-top: calc(100% / (2 / 3));
}

.embed > * {
  height: 100%;
  left: 0;
  object-fit: cover;
  padding: 0.25em;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Gallery  */

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.gallery__item--h-2 {
  grid-column-end: span 2;
}

.gallery__item--h-3 {
  grid-column-end: span 3;
}

.gallery__item--v-2 {
  grid-row-end: span 2;
}

.gallery__item--v-3 {
  grid-row-end: span 3;
}

/* ----------------------
  version mobile
------------------------- */
@media (max-width: 1000px) {
  .header .contanier {
    width: 100%;
    padding: 0 20px;
  }

  .header .contanier .nav-links a {
    font-size: 16px;
    margin-left: 20px;
  }
  .header .contanier .nav-links .soc-links {
    margin-left: 30px;
  }
}
@media (max-width: 750px) {
  #btn-menu {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 22px;
    color: #ff9800;
    width: 40px;
    height: 35px;
    text-align: center;
    line-height: 33px;
  }
  .header .contanier .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #eeeeee;
    flex-wrap: wrap;
    padding: 10px;
    border-top: 1px solid #d4d4d4a7;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.3s;
  }
  .header .contanier .nav-links.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .contanier .nav-links a {
    display: block;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid #d4d4d4a7;
  }
  .header .contanier .nav-links .soc-links {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    padding: 20px 0 10px;
  }
  .header .contanier .nav-links .soc-links a {
    font-size: 25px;
    text-align: center;
    margin-left: 0;
    padding: 0;
    border-bottom: none;
  }

  /* banner */

  /* service */
  .service-12 .wrap-service-12 .uneven-box {
    margin-top: 0px;
  }
}
